In [235]:
import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt 
import seaborn as sns

from tqdm import tqdm

pd.set_option('display.max_rows', 500)

In [256]:
def load_data(url): 
    df = pd.read_excel(url)
    # renames 
    df.columns = ['test_id', 'sample_id', 'li', 'be', 'nb', 'ta', 'rb', 'cs', 'w', 'bi', 'mo', 'sn']
    
    return df

df = load_data('../data/data.xls')
print(df.shape)
df.head()

(4116, 12)

,test_id,sample_id,li,be,nb,ta,rb,cs,w,bi,mo,sn
0,241810001,T01-01,90.833919,6.020064,12.937237,1.815527,162.849654,18.378212,4.631767,0.397267,1.781480,3.571594
1,241810002,T01-02,127.633179,2.942495,10.297203,1.211617,156.362156,40.746861,1.720836,0.415387,1.195794,2.528272
2,241810003,T01-03,154.726568,4.625141,10.955438,1.251676,159.181327,43.137307,7.263035,0.401448,1.091368,4.156266
3,241810004,T01-04,90.041636,2.282445,8.767717,0.885393,144.621996,29.988116,2.237632,0.423005,1.407746,3.760484
4,241810005,T01-05,67.564637,1.789445,8.592548,1.026509,92.556313,15.632865,2.381405,0.262889,1.026018,2.396971

In [261]:
def find_duplicated_rows(df, col): 
    counts_df = pd.DataFrame(df[col].value_counts())
    counts_df = counts_df.reset_index() 
    counts_df.columns = [col, f'{col}_counts']
    
    df = pd.merge(df, counts_df, on=col, how='left', validate='m:1')
    
    # remove the none duplicated rows
    dup_df = df.query(f'{col}_counts > 1')[[col, f'{col}_counts']]
    # reset the index and add by 2 to compensate the headers and starting from 0
    dup_df = dup_df.reset_index() 
    dup_df['index'] = dup_df['index'] + 2 
    
    # remove the duplicated rows with low precision
    # low precision rows can be divided by 10 without reset parts
    dup_df[f'{col}_1000'] = dup_df[col] * 1000
    dup_df[f'{col}_10'] = dup_df[f'{col}_1000'] % 10
    dup_df = dup_df.query(f'{col}_10 != 0')
    dup_df = dup_df.reset_index(drop=True)
    
    return dup_df 

dup_df = find_duplicated_rows(df, 'ta')
print(dup_df.shape)
dup_df.head()

(206, 5)

   index        ta  ta_counts      ta_1000     ta_10
0    814  2.619584          2  2619.584193  9.584193
1    816  1.049977          2  1049.977168  9.977168
2    817  2.382405          2  2382.404643  2.404643
3    818  1.091602          2  1091.602116  1.602116
4    819  0.897486          2   897.485775  7.485775

In [285]:
def find_duplicated_sequences(df, length, col):
    # Create a dictionary to store sequences and their indices
    sequences = {}
    
    # Iterate through the DataFrame to find sequences
    for start in range(len(df)):
        seq = tuple(df[col][start:start + length])
        if seq in sequences:
            sequences[seq].append(start)
        else:
            sequences[seq] = [start]
    
    # Find duplicates
    duplicates = {seq: indices for seq, indices in sequences.items() if len(indices) > 1}
    
    return duplicates

In [286]:
dup_df = find_duplicated_rows(df, 'li')
print(dup_df.shape)

(0, 5)

In [299]:
cols = df.columns[2:]
for col in cols: 
    print(f'----------{col}----------')
    dup_df = find_duplicated_rows(df, col)
    duplicated_sequences = []
    length = 0
    if dup_df.shape[0] > 0: 
        # Find and print duplicated sequences
        for length_tmp in tqdm(range(2, len(dup_df))): 
            duplicated_sequences_temp = find_duplicated_sequences(dup_df, length_tmp, col)
            if len(duplicated_sequences_temp) == 1: 
                duplicated_sequences = duplicated_sequences_temp
                length = length_tmp
                for seq, indices in duplicated_sequences.items():
                    print(f'{length:}')
                    print(f"Indices: {indices}, Sequence: {seq}")
                    idx1, idx2, *_ = indices 
                    starting_rows1 = dup_df.iloc[idx1, :]['index']
                    starting_rows2 = dup_df.iloc[idx2, :]['index']
                    # ending_rows1 = starting_rows1 + length - 1
                    # ending_rows2 = starting_rows2 + length - 1
                    ending_rows1 = dup_df.iloc[idx1+length-1, :]['index']
                    ending_rows2 = dup_df.iloc[idx2+length-1, :]['index']
                    print(f'rows from {starting_rows1} to {ending_rows1}')
                    print(f'rows from {starting_rows2} to {ending_rows2}')
            elif len(duplicated_sequences_temp) > 1: 
                print(f'{len(duplicated_sequences_temp)}: {length_tmp}')         
    else: 
        print(f'There is no duplicated rows in column {col}.')

----------li----------
There is no duplicated rows in column li.
----------be----------

100%|██████████| 11/11 [00:00<00:00, 4038.28it/s]

2: 2
----------nb----------

100%|██████████| 6/6 [00:00<00:00, 4640.57it/s]

2
Indices: [0, 6], Sequence: (13.600000000000001, 16.1)
rows from 3851.0 to 3920.0
rows from 4061.0 to 4106.0
----------ta----------

 14%|█▍        | 29/204 [00:00<00:00, 280.68it/s]

99: 2
97: 3
95: 4
93: 5
91: 6
89: 7
87: 8
85: 9
83: 10
81: 11
79: 12
77: 13
75: 14
73: 15
71: 16
69: 17
67: 18
65: 19
63: 20
61: 21
59: 22
57: 23
55: 24
53: 25
51: 26
49: 27
47: 28
45: 29
43: 30
41: 31
39: 32
37: 33
35: 34
33: 35
31: 36
29: 37
28: 38
27: 39
26: 40
25: 41
24: 42
23: 43
22: 44
21: 45
20: 46
19: 47
18: 48
17: 49
16: 50
15: 51
14: 52
13: 53
12: 54
11: 55
10: 56
9: 57
8: 58

 28%|██▊       | 58/204 [00:00<00:00, 235.10it/s]

7: 59
6: 60
5: 61
4: 62
3: 63
2: 64
65
Indices: [72, 137], Sequence: (3.0839533210514, 1.51202952487442, 1.05977396365137, 1.63215838312794, 1.44027777378715, 1.13542488173644, 1.34524718461709, 0.88213115226718, 1.81639136236201, 0.98948822559561, 1.09814093759571, 1.21131544348439, 1.51008904806222, 1.19376050215281, 1.23902890826572, 1.29205723884534, 1.01738137379662, 1.11379454156314, 1.23284937876264, 1.1608986108462, 0.90551081066455, 1.09734150746062, 1.46088816314896, 1.29759057444415, 1.31174356683923, 1.2697557260342, 1.20392339479496, 1.89625094345814, 1.48400731766455, 1.27178361556421, 0.95310676194869, 1.04219156324675, 1.48570852399217, 1.27728899771763, 1.18659917411142, 1.53025972469471, 1.42205475812422, 1.35846934285908, 0.95684862081302, 0.94304773886545, 1.10186379297263, 1.18058221818768, 1.03583877453916, 0.61929124574294, 0.84264227318261, 1.25064847531515, 0.81541006244626, 1.56336570743171, 1.51220773813024, 1.01452444858739, 1.64422729426046, 1.26863028821382, 1.01001549080942, 1.33729539549001, 1.980358052284546, 2.13787374688936, 1.6391441525734, 2.88455455833652, 3.5376878988232, 2.71006575658324, 2.15332878645536, 2.22544532396644, 2.21447027556762, 1.86600752908645, 1.6818653658074)
rows from 1247.0 to 1311.0
rows from 1312.0 to 1379.0

100%|██████████| 204/204 [00:00<00:00, 234.24it/s]

----------rb----------

0it [00:00, ?it/s]

----------cs----------

0it [00:00, ?it/s]

----------w----------

100%|██████████| 2/2 [00:00<00:00, 2314.74it/s]

2
Indices: [0, 1, 2], Sequence: (2.01, 2.01)
rows from 3857.0 to 3945.0
rows from 3945.0 to 3963.0
3
Indices: [0, 1], Sequence: (2.01, 2.01, 2.01)
rows from 3857.0 to 3963.0
rows from 3945.0 to 4019.0
----------bi----------

100%|██████████| 3/3 [00:00<00:00, 5405.03it/s]

----------mo----------

100%|██████████| 6/6 [00:00<00:00, 5886.74it/s]

----------sn----------

100%|██████████| 5/5 [00:00<00:00, 5301.19it/s]